<!-- for to input location  -->

<form action="/searchresults" method="get">
  <h3>Enter the address of your current location:</h3>
  <input id="enteraddress" type="text" name="address" placeholder="2901 3rd Avenue Seattle" value="47.6100898, -122.3424699">
  <button>Search</button>
</form> 