<!-- INPUTS: formAction (update, add - from user select) -->

<form id="add-update-form" action="/urhere" method="post" class="hideme">
  <input id="form-method" type="hidden" name="_method" value="put">

  <h3>Update the database!</h3>

  <fieldset>
    <label>Name or Description:
      <input type="text" name="name" placeholder="eg - Cisco bldg">
    </label>
    <label>Address:
      <input type="text" name="vicinity" placeholder="eg - 2901 2nd Ave Seattle">
    </label>
  </fieldset>

  <fieldset>
    <label>How would you rate this bathroom overall?
      <input type="radio" name="voteOverall" value="1">
      <input type="radio" name="voteOverall" value="2">
      <input type="radio" name="voteOverall" value="3">
      <input type="radio" name="voteOverall" value="4">
      <input type="radio" name="voteOverall" value="5">
    </label>
    <label>How clean is it?
      <input type="radio" name="voteClean" value="1">
      <input type="radio" name="voteClean" value="2">
      <input type="radio" name="voteClean" value="3">
      <input type="radio" name="voteClean" value="4">
      <input type="radio" name="voteClean" value="5">
    </label>
    <label>How easy was it to find?
      <input type="radio" name="voteEasyToFind" value="1">
      <input type="radio" name="voteEasyToFind" value="2">
      <input type="radio" name="voteEasyToFind" value="3">
      <input type="radio" name="voteEasyToFind" value="4">
      <input type="radio" name="voteEasyToFind" value="5">
    </label>
  </fieldset>
  <fieldset>
    <p>Check the box if the bathroom is...</p>
    <label>...out of toilet paper:
      <input type="checkbox" name="notoiletpaper">
    </label>
    <label>...out of seat covers:
      <input type="checkbox" name="notoiletseatcovers">
    </label>
    <label>...gender specific:
      <input type="checkbox" name="genderspecific">
    </label>
    <p>Check the box if the bathroom has...</p>
    <label>...a resting area:
      <input type="checkbox" name="restingarea">
    </label>
    <label>...a mother's room:
      <input type="checkbox" name="mothersroom">
    </label>
    <label>...a baby changing station:
      <input type="checkbox" name="changingstation">
    </label>
    <label>...a bidet:
      <input type="checkbox" name="bidet">
    </label>
    <label>...feminine hygiene products:
      <input type="checkbox" name="feminineproducts">
    </label>
  </fieldset>
  <h4 class="cancel" class="clickme">Cancel</h4>
  <button>Add/Update Location</button> 

  <p name="id" value=""></p>
  <p name="homedb" value=""></p>

</form>
