
<form id="delete" action="/urhere">
  <input type="hidden" name="_method" value="post">
  <h3>Why would you like to delete this location?</h3>
  <select name="remove-location">
    <option name="closed">This bathroom has been closed permanently.</option>
    <option name="closed-to-public">This bathroom isn't open to the public.</option>
    <option name="does-not-exist">I couldn't find a bathroom here.</option>
    <button>Flush it!</button> 
  </select>
</form>