
<form id="delete-form" class="hideme" action="/deleteLav/" method="post">
  <input id="form-method" type="hidden" name="_method" value="put">

  <h3>Why would you like to delete this location?</h3>
  <select name="remove-location">
    <option name="closed">This bathroom has been closed permanently.</option>
    <option name="closed-to-public">This bathroom isn't open to the public.</option>
    <option name="does-not-exist">I couldn't find a bathroom here.</option>
    <h4 class="cancel" class="clickme">Cancel</h4>
  </select>
    <button>Flush it!</button> 
    
  <!-- hidden tags to carry data from client-->
  <p name="id" value=""></p>

</form>