<!-- INPUTS: formAction (update, add - from user select) -->

<form id="add-update-form" action="" method="post" class="hideme">
  <input id="form-method" type="hidden" name="_method" value="put">


  <h3>Update the database!</h3>

  <fieldset>
    <label>Name or Description:
      <input type="text" name="name" placeholder="eg - Cisco bldg">
    </label>
    <label>Address or vicinity:
      <input type="text" name="vicinity" placeholder="eg - 2901 2nd Ave Seattle">
    </label>
  </fieldset>

  <fieldset class="radio">
    <label>How would you rate this bathroom overall?
      <fieldset>
        <input type="radio" name="voteoverall" value="1">
        <input type="radio" name="voteoverall" value="2">
        <input type="radio" name="voteoverall" value="3">
        <input type="radio" name="voteoverall" value="4">
        <input type="radio" name="voteoverall" value="5">
      </fieldset>
    </label>
    <label>How clean is it?
      <fieldset>
        <input type="radio" name="voteclean" value="1">
        <input type="radio" name="voteclean" value="2">
        <input type="radio" name="voteclean" value="3">
        <input type="radio" name="voteclean" value="4">
        <input type="radio" name="voteclean" value="5">
      </fieldset>
    </label>
    <label>How easy was it to find?
      <fieldset>
        <input type="radio" name="voteeasytofind" value="1">
        <input type="radio" name="voteeasytofind" value="2">
        <input type="radio" name="voteeasytofind" value="3">
        <input type="radio" name="voteeasytofind" value="4">
        <input type="radio" name="voteeasytofind" value="5">
      </fieldset>
    </label>
  </fieldset>
  <h4>Check the box if the bathroom is...</h4>
  <fieldset class="checkbox">
    <label>
      <input type="checkbox" name="notoiletpaper">out of toilet paper:
    </label><br>
    <label>
      <input type="checkbox" name="notoiletseatcovers">out of seat covers:
    </label><br>
    <label>
      <input type="checkbox" name="genderspecific">gender specific:
    </label>
  </fieldset>
    <h4>Check the box if the bathroom has...</h4>
  <fieldset class="checkbox">
    <label>
      <input type="checkbox" name="restingarea">a resting area:
    </label><br>
    <label>
      <input type="checkbox" name="mothersroom">a mother's room:
    </label><br>
    <label>
      <input type="checkbox" name="changingstation">a baby changing station:
    </label><br>
    <label>
      <input type="checkbox" name="bidet">a bidet:
    </label><br>
    <label>
      <input type="checkbox" name="feminineproducts">feminine hygiene products:
    </label>
  </fieldset>
  <h4 class="cancel clickme">Cancel</h4>
  <button>Add/Update Location</button> 

  <!-- hidden tags to carry data from client-->

</form>
