<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Diamond-Lavs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/reset.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/base.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/layout.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/header.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/footer.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/address-input.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/map.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/select-tabs.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/details.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/form-update-add.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/form-delete.css">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/error.css">
  <script src="./scripts/app.js"></script>
</head>