<!-- partial header -->

<header>
  <img id="img1" src="./img/throne.png" alt="throne">
  <img id="img2" src="./img/throne.png" alt="throne">
  <h1> Lav Nav </h1>
  <nav class="topnav">  

    <a href="/" class="nav-link">Home</a>
    <a href="/resources" class="nav-link">Resources</a>
    <a href="/about-us" class="nav-link">About Us</a>

  </nav>  
</header>