<!-- partial header -->

<header>
    <img src="./img/throne.png" alt="throne">
    <img id="img2" src="./img/throne.png" alt="throne">
    <h1 id="uncial"> Lav Nav </h1>
  <nav class="topnav">  
    <a href="home" class="../pages/index.ejs">Home</a>
    <a href="resources" class="nav-link">Resources</a>
    <a href="about-us" class="../pages/index.ejs">About Us</a>
  </nav>  
</header>