<div>
  <h3>lat = <%= lat %></h3>
  <h3>lng = <%= lng %></h3>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= lat %>%2c%20<%= lng %>&zoom=13&size=600x300&maptype=roadmap
  &key=AIzaSyDp0Caae9rkHUHwERAFzs6WN4_MuphTimk" alt="You Are Here">
</div>