<section>
  <h3>Add New Location</h3>
  <form id="add-location">
    Name of Location <input type="text" location="location name "> <br>
    Address <input type="text" location="location address"> <br>
    <input type=" radio" name="access" value="Easily Accessible"> Easily Accessible
    <input type=" radio" name="Changing Station" value="Changing Station"> Changing Station
    <input type=" radio" name="Feminine Hygiene Products" value="Feminine Hygiene Products"> Feminine Hygiene Products
    <input type=" radio" name="Safe Needle Disposal" value="Safe Needle Disposal"> Safe Needle Disposal
    <input type=" radio" name="Toilet Seat Cover" value="Toilet Seat Cover"> Toilet Seat Cover <br><br>
    <button>Add/Update Location</button> 
    
  </form>
</section>