
<h1>Remove Location?</h1>
<select>
    <option value="Closed to Public">Closed to Public</option>
    <option value="Invalid Location">Invalid Location</option>
    <option value="Closed">Closed</option>
    <option value="No bathroom on site">No bathroom on site</option>
    <option value="XXXXXXXXX">XXXXXXXXXX</option>
    <input type="submit" value="Delete Location">
</select>