

<select>
    <option value="Closed to Public">Closed to Public</option>
    <option value="Invalid Location">Invalid Location</option>
    <option value="Closed">Closed</option>
    <option value="Closed to Public">Closed to Public</option>
    <option value="XXXXXXXXX">XXXXXXXXXX</option>

</select>