<!-- partial header -->

<header>
  <div class="topnav">  
    <a href="#Place holder" class = nav-link>Place holder</a>
    <a href="#Place holder" class = nav-link>Place holder</a>
    <a href="#contact" class = nav-links>Contact</a>
    <a href="#Place holder">Place holder</a> 
  </div>  
</header>