header {
    height: 140px;
    text-align: center;
  }

header>img{
  position: absolute;
  width: 75px;
  top: 5px;
}

#img1{
    left: 5px;
}
#img2{
    right: 5px;
}

h1 {
  position: relative;
  top: 50px;
  font-size: 7vw;
  font-family: 'Sonsie One', cursive;
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
  text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white, -1.5px 1px 0 white, 1.5px 1.5px 0 white;
  margin: 0px auto;
}

.topnav {
  width: 100%;
  position: absolute;
  /* text-align: center; */
  top: 105px;
}


a:link {
  display: inline-block;
  text-decoration: none;
  width: 28%;
  }

  a:visited {
    color: rgb(2, 2, 88);
  }