.clickme {
  padding: 10px;
  margin: 5px auto;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  border:  2px solid rgb(2, 2, 88);
}

button {
  display: block;
  padding: 10px;
  margin: 5px auto;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  border:  2px solid rgb(2, 2, 88);
  font-style: oblique;
}


@media screen and (min-width: 760px) {
  
  .clickme, button {
    /* font-size: 28px; */
    /* max-width: 18%;
    display: inline-block; */
    max-width: 50%;
  }
  .picklav {
    /* font-size: 28px; */
    max-width: 18%;
    display: inline-block;
  }
  
  #useradd {
    max-width: 96%;
    display: block;
    margin: 20px auto;
    height: 50px;
    display: block;
    line-height: 50px;
  }

  #userupdate, #userdelete, #cancel, #useradd {
    max-width: 30%;
    display: block;
  }
}

